body {
  font-family: TrebuchetMS, sans-serif;
  font-size: 13px;
}

div.clearfix {
  clear: both;
}

canvas {
  border: 1px solid gray;
}

.toneGenerator {
  width: 420px;
  float: left;
  border: 1px soLid #EEE;
  padding: 4px;
}

.toneGenerator .control {
  width: 146px;
  float: left;
}

.toneGenerator canvas.waveForm {
  width: 100%;
  height: 256px;
  float: left;
}

.toneGenerator .analysis {
  float: left;
  font-size: 11px;
}


.analyser canvas.spectrum {
  width: 800px;
  float: left;
}

.analyser .analysis {
  width: 400px;
  float: left;
  padding-left: 20px;
}

span.small {
  font-size: 11px;
}
